códigos-teste/flow_config.json
[
    {
        "id": "9a70ad18.39c8b",
        "type": "tab",
        "label": "dashboard_forno",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e286fb40.4effc8",
        "type": "ui_switch",
        "z": "9a70ad18.39c8b",
        "name": "ligarDesligarForno",
        "label": "switch",
        "tooltip": "",
        "group": "fb3c3012.d424",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "PROG:STAT 1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "PROG:STAT 0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 210,
        "y": 840,
        "wires": [
            [
                "46ad507d.8d065"
            ]
        ]
    },
    {
        "id": "70bb821f.46fb6c",
        "type": "ui_gauge",
        "z": "9a70ad18.39c8b",
        "name": "",
        "group": "fb3c3012.d424",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura do Forno",
        "label": "units",
        "format": "{{value}}",
        "min": "20",
        "max": "400",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 740,
        "y": 180,
        "wires": []
    },
    {
        "id": "1f4579df.a924a6",
        "type": "inject",
        "z": "9a70ad18.39c8b",
        "name": "temperatura_do_forno",
        "topic": "",
        "payload": "SOUR:SENS:DATA?",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 200,
        "y": 180,
        "wires": [
            [
                "5c65556a.ab166c"
            ]
        ]
    },
    {
        "id": "5c65556a.ab166c",
        "type": "serial request",
        "z": "9a70ad18.39c8b",
        "name": "serial_forno",
        "serial": "293facb8.b9e4a4",
        "x": 470,
        "y": 180,
        "wires": [
            [
                "70bb821f.46fb6c",
                "ccb49784.453b38"
            ]
        ]
    },
    {
        "id": "ccb49784.453b38",
        "type": "debug",
        "z": "9a70ad18.39c8b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 700,
        "y": 240,
        "wires": []
    },
    {
        "id": "46ad507d.8d065",
        "type": "serial out",
        "z": "9a70ad18.39c8b",
        "name": "",
        "serial": "293facb8.b9e4a4",
        "x": 400,
        "y": 840,
        "wires": []
    },
    {
        "id": "d434f98a.de41b8",
        "type": "ui_gauge",
        "z": "9a70ad18.39c8b",
        "name": "",
        "group": "fb3c3012.d424",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura de Patamar",
        "label": "units",
        "format": "{{value}}",
        "min": "20",
        "max": "400",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "2812bbe1.b24784",
        "type": "inject",
        "z": "9a70ad18.39c8b",
        "name": "temperatura_de_patamar",
        "topic": "",
        "payload": "SOUR:SPO?",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 320,
        "wires": [
            [
                "29f821ac.92438e"
            ]
        ]
    },
    {
        "id": "29f821ac.92438e",
        "type": "serial request",
        "z": "9a70ad18.39c8b",
        "name": "serial_forno",
        "serial": "293facb8.b9e4a4",
        "x": 450,
        "y": 320,
        "wires": [
            [
                "d434f98a.de41b8",
                "b641036f.a0f2b"
            ]
        ]
    },
    {
        "id": "b641036f.a0f2b",
        "type": "debug",
        "z": "9a70ad18.39c8b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 680,
        "y": 380,
        "wires": []
    },
    {
        "id": "a5c412c3.385fd",
        "type": "switch",
        "z": "9a70ad18.39c8b",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 720,
        "wires": [
            [
                "3d1e9ac2.df0de6"
            ],
            [
                "3d1e9ac2.df0de6"
            ]
        ]
    },
    {
        "id": "65827d66.412154",
        "type": "serial request",
        "z": "9a70ad18.39c8b",
        "name": "serial_forno",
        "serial": "293facb8.b9e4a4",
        "x": 410,
        "y": 720,
        "wires": [
            [
                "a5c412c3.385fd"
            ]
        ]
    },
    {
        "id": "e9e09936.5bb3c8",
        "type": "inject",
        "z": "9a70ad18.39c8b",
        "name": "temperatura_de_patamar",
        "topic": "",
        "payload": "SOUR:STAB:TEST?",
        "payloadType": "str",
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 720,
        "wires": [
            [
                "65827d66.412154"
            ]
        ]
    },
    {
        "id": "75c5e477.6e0c7c",
        "type": "ui_text",
        "z": "9a70ad18.39c8b",
        "group": "3759c635.39d0da",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 650,
        "y": 60,
        "wires": []
    },
    {
        "id": "954e24dc.c6e168",
        "type": "serial request",
        "z": "9a70ad18.39c8b",
        "name": "serial_forno",
        "serial": "293facb8.b9e4a4",
        "x": 380,
        "y": 60,
        "wires": [
            [
                "75c5e477.6e0c7c"
            ]
        ]
    },
    {
        "id": "8d90ea8b.735c48",
        "type": "ui_button",
        "z": "9a70ad18.39c8b",
        "name": "",
        "group": "3759c635.39d0da",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "IDENTIFICAÇÃO",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "*IDN?",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "954e24dc.c6e168"
            ]
        ]
    },
    {
        "id": "a0c94437.f17178",
        "type": "ui_slider",
        "z": "9a70ad18.39c8b",
        "name": "",
        "label": "Tempo de Patamar (min)",
        "tooltip": "",
        "group": "3759c635.39d0da",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "10",
        "max": "100",
        "step": 1,
        "x": 630,
        "y": 480,
        "wires": [
            [
                "45a3c63c.069f28"
            ]
        ]
    },
    {
        "id": "ad06e73.fffd018",
        "type": "serial request",
        "z": "9a70ad18.39c8b",
        "name": "serial_forno",
        "serial": "293facb8.b9e4a4",
        "x": 670,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "45a3c63c.069f28",
        "type": "serial out",
        "z": "9a70ad18.39c8b",
        "name": "",
        "serial": "293facb8.b9e4a4",
        "x": 860,
        "y": 480,
        "wires": []
    },
    {
        "id": "3d1e9ac2.df0de6",
        "type": "ui_gauge",
        "z": "9a70ad18.39c8b",
        "name": "",
        "group": "fb3c3012.d424",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 770,
        "y": 720,
        "wires": []
    },
    {
        "id": "114dd0b7.73d23f",
        "type": "ui_numeric",
        "z": "9a70ad18.39c8b",
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "group": "3759c635.39d0da",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "step": 1,
        "x": 140,
        "y": 460,
        "wires": [
            [
                "43e3b313.1a878c"
            ]
        ]
    },
    {
        "id": "86a42d8d.8733c",
        "type": "serial out",
        "z": "9a70ad18.39c8b",
        "name": "",
        "serial": "293facb8.b9e4a4",
        "x": 440,
        "y": 460,
        "wires": []
    },
    {
        "id": "43e3b313.1a878c",
        "type": "join",
        "z": "9a70ad18.39c8b",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\b ",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 290,
        "y": 460,
        "wires": [
            [
                "86a42d8d.8733c"
            ]
        ]
    },
    {
        "id": "fb3c3012.d424",
        "type": "ui_group",
        "z": "9a70ad18.39c8b",
        "name": "Executar",
        "tab": "8f3451b6.1ab0f",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "293facb8.b9e4a4",
        "type": "serial-port",
        "z": "9a70ad18.39c8b",
        "serialport": "COM33",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\r",
        "responsetimeout": "10000"
    },
    {
        "id": "3759c635.39d0da",
        "type": "ui_group",
        "z": "9a70ad18.39c8b",
        "name": "Configurações de Patamar",
        "tab": "461da86.85b9658",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8f3451b6.1ab0f",
        "type": "ui_tab",
        "z": "9a70ad18.39c8b",
        "name": "Iniciar",
        "icon": "dashboard",
        "order": 16,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "461da86.85b9658",
        "type": "ui_tab",
        "z": "9a70ad18.39c8b",
        "name": "Configurações",
        "icon": "dashboard",
        "order": 15,
        "disabled": false,
        "hidden": false
    }
]